In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import pymysql

In [8]:
conn = pymysql.connect(host ='relational.fel.cvut.cz', user ='guest', passwd ='ctu-relational' , db = "employee")

In [9]:
c = conn.cursor()

In [10]:
c.execute("show tables;")

6

In [12]:
for table_name in c:
  print(table_name)

('departments',)
('dept_emp',)
('dept_manager',)
('employees',)
('salaries',)
('titles',)

In [13]:
c.execute("select * from employees;")

300024

In [14]:
all_rows = c.fetchall()

In [15]:
all_rows

((10001,
  datetime.date(1953, 9, 2),
  'Georgi',
  'Facello',
  'M',
  datetime.date(1986, 6, 26)),
 (10002,
  datetime.date(1964, 6, 2),
  'Bezalel',
  'Simmel',
  'F',
  datetime.date(1985, 11, 21)),
 (10003,
  datetime.date(1959, 12, 3),
  'Parto',
  'Bamford',
  'M',
  datetime.date(1986, 8, 28)),
 (10004,
  datetime.date(1954, 5, 1),
  'Chirstian',
  'Koblick',
  'M',
  datetime.date(1986, 12, 1)),
 (10005,
  datetime.date(1955, 1, 21),
  'Kyoichi',
  'Maliniak',
  'M',
  datetime.date(1989, 9, 12)),
 (10006,
  datetime.date(1953, 4, 20),
  'Anneke',
  'Preusig',
  'F',
  datetime.date(1989, 6, 2)),
 (10007,
  datetime.date(1957, 5, 23),
  'Tzvetan',
  'Zielinski',
  'F',
  datetime.date(1989, 2, 10)),
 (10008,
  datetime.date(1958, 2, 19),
  'Saniya',
  'Kalloufi',
  'M',
  datetime.date(1994, 9, 15)),
 (10009,
  datetime.date(1952, 4, 19),
  'Sumant',
  'Peac',
  'F',
  datetime.date(1985, 2, 18)),
 (10010,
  datetime.date(1963, 6, 1),
  'Duangkaew',
  'Piveteau',
  'F',
  datetime.date(1989, 8, 24)),
 (10011,
  datetime.date(1953, 11, 7),
  'Mary',
  'Sluis',
  'F',
  datetime.date(1990, 1, 22)),
 (10012,
  datetime.date(1960, 10, 4),
  'Patricio',
  'Bridgland',
  'M',
  datetime.date(1992, 12, 18)),
 (10013,
  datetime.date(1963, 6, 7),
  'Eberhardt',
  'Terkki',
  'M',
  datetime.date(1985, 10, 20)),
 (10014,
  datetime.date(1956, 2, 12),
  'Berni',
  'Genin',
  'M',
  datetime.date(1987, 3, 11)),
 (10015,
  datetime.date(1959, 8, 19),
  'Guoxiang',
  'Nooteboom',
  'M',
  datetime.date(1987, 7, 2)),
 (10016,
  datetime.date(1961, 5, 2),
  'Kazuhito',
  'Cappelletti',
  'M',
  datetime.date(1995, 1, 27)),
 (10017,
  datetime.date(1958, 7, 6),
  'Cristinel',
  'Bouloucos',
  'F',
  datetime.date(1993, 8, 3)),
 (10018,
  datetime.date(1954, 6, 19),
  'Kazuhide',
  'Peha',
  'F',
  datetime.date(1987, 4, 3)),
 (10019,
  datetime.date(1953, 1, 23),
  'Lillian',
  'Haddadi',
  'M',
  datetime.date(1999, 4, 30)),
 (10020,
  datetime.date(1952, 12, 24),
  'Mayuko',
  'Warwick',
  'M',
  datetime.date(1991, 1, 26)),
 (10021,
  datetime.date(1960, 2, 20),
  'Ramzi',
  'Erde',
  'M',
  datetime.date(1988, 2, 10)),
 (10022,
  datetime.date(1952, 7, 8),
  'Shahaf',
  'Famili',
  'M',
  datetime.date(1995, 8, 22)),
 (10023,
  datetime.date(1953, 9, 29),
  'Bojan',
  'Montemayor',
  'F',
  datetime.date(1989, 12, 17)),
 (10024,
  datetime.date(1958, 9, 5),
  'Suzette',
  'Pettey',
  'F',
  datetime.date(1997, 5, 19)),
 (10025,
  datetime.date(1958, 10, 31),
  'Prasadram',
  'Heyers',
  'M',
  datetime.date(1987, 8, 17)),
 (10026,
  datetime.date(1953, 4, 3),
  'Yongqiao',
  'Berztiss',
  'M',
  datetime.date(1995, 3, 20)),
 (10027,
  datetime.date(1962, 7, 10),
  'Divier',
  'Reistad',
  'F',
  datetime.date(1989, 7, 7)),
 (10028,
  datetime.date(1963, 11, 26),
  'Domenick',
  'Tempesti',
  'M',
  datetime.date(1991, 10, 22)),
 (10029,
  datetime.date(1956, 12, 13),
  'Otmar',
  'Herbst',
  'M',
  datetime.date(1985, 11, 20)),
 (10030,
  datetime.date(1958, 7, 14),
  'Elvis',
  'Demeyer',
  'M',
  datetime.date(1994, 2, 17)),
 (10031,
  datetime.date(1959, 1, 27),
  'Karsten',
  'Joslin',
  'M',
  datetime.date(1991, 9, 1)),
 (10032,
  datetime.date(1960, 8, 9),
  'Jeong',
  'Reistad',
  'F',
  datetime.date(1990, 6, 20)),
 (10033,
  datetime.date(1956, 11, 14),
  'Arif',
  'Merlo',
  'M',
  datetime.date(1987, 3, 18)),
 (10034,
  datetime.date(1962, 12, 29),
  'Bader',
  'Swan',
  'M',
  datetime.date(1988, 9, 21)),
 (10035,
  datetime.date(1953, 2, 8),
  'Alain',
  'Chappelet',
  'M',
  datetime.date(1988, 9, 5)),
 (10036,
  datetime.date(1959, 8, 10),
  'Adamantios',
  'Portugali',
  'M',
  datetime.date(1992, 1, 3)),
 (10037,
  datetime.date(1963, 7, 22),
  'Pradeep',
  'Makrucki',
  'M',
  datetime.date(1990, 12, 5)),
 (10038,
  datetime.date(1960, 7, 20),
  'Huan',
  'Lortz',
  'M',
  datetime.date(1989, 9, 20)),
 (10039,
  datetime.date(1959, 10, 1),
  'Alejandro',
  'Brender',
  'M',
  datetime.date(1988, 1, 19)),
 (10040,
  datetime.date(1959, 9, 13),
  'Weiyi',
  'Meriste',
  'F',
  datetime.date(1993, 2, 14)),
 (10041,
  datetime.date(1959, 8, 27),
  'Uri',
  'Lenart',
  'F',
  datetime.date(1989, 11, 12)),
 (10042,
  datetime.date(1956, 2, 26),
  'Magy',
  'Stamatiou',
  'F',
  datetime.date(1993, 3, 21)),
 (10043,
  datetime.date(1960, 9, 19),
  'Yishay',
  'Tzvieli',
  'M',
  datetime.date(1990, 10, 20)),
 (10044,
  datetime.date(1961, 9, 21),
  'Mingsen',
  'Casley',
  'F',
  datetime.date(1994, 5, 21)),
 (10045,
  datetime.date(1957, 8, 14),
  'Moss',
  'Shanbhogue',
  'M',
  datetime.date(1989, 9, 2)),
 (10046,
  datetime.date(1960, 7, 23),
  'Lucien',
  'Rosenbaum',
  'M',
  datetime.date(1992, 6, 20)),
 (10047,
  datetime.date(1952, 6, 29),
  'Zvonko',
  'Nyanchama',
  'M',
  datetime.date(1989, 3, 31)),
 (10048,
  datetime.date(1963, 7, 11),
  'Florian',
  'Syrotiuk',
  'M',
  datetime.date(1985, 2, 24)),
 (10049,
  datetime.date(1961, 4, 24),
  'Basil',
  'Tramer',
  'F',
  datetime.date(1992, 5, 4)),
 (10050,
  datetime.date(1958, 5, 21),
  'Yinghua',
  'Dredge',
  'M',
  datetime.date(1990, 12, 25)),
 (10051,
  datetime.date(1953, 7, 28),
  'Hidefumi',
  'Caine',
  'M',
  datetime.date(1992, 10, 15)),
 (10052,
  datetime.date(1961, 2, 26),
  'Heping',
  'Nitsch',
  'M',
  datetime.date(1988, 5, 21)),
 (10053,
  datetime.date(1954, 9, 13),
  'Sanjiv',
  'Zschoche',
  'F',
  datetime.date(1986, 2, 4)),
 (10054,
  datetime.date(1957, 4, 4),
  'Mayumi',
  'Schueller',
  'M',
  datetime.date(1995, 3, 13)),
 (10055,
  datetime.date(1956, 6, 6),
  'Georgy',
  'Dredge',
  'M',
  datetime.date(1992, 4, 27)),
 (10056,
  datetime.date(1961, 9, 1),
  'Brendon',
  'Bernini',
  'F',
  datetime.date(1990, 2, 1)),
 (10057,
  datetime.date(1954, 5, 30),
  'Ebbe',
  'Callaway',
  'F',
  datetime.date(1992, 1, 15)),
 (10058,
  datetime.date(1954, 10, 1),
  'Berhard',
  'McFarlin',
  'M',
  datetime.date(1987, 4, 13)),
 (10059,
  datetime.date(1953, 9, 19),
  'Alejandro',
  'McAlpine',
  'F',
  datetime.date(1991, 6, 26)),
 (10060,
  datetime.date(1961, 10, 15),
  'Breannda',
  'Billingsley',
  'M',
  datetime.date(1987, 11, 2)),
 (10061,
  datetime.date(1962, 10, 19),
  'Tse',
  'Herber',
  'M',
  datetime.date(1985, 9, 17)),
 (10062,
  datetime.date(1961, 11, 2),
  'Anoosh',
  'Peyn',
  'M',
  datetime.date(1991, 8, 30)),
 (10063,
  datetime.date(1952, 8, 6),
  'Gino',
  'Leonhardt',
  'F',
  datetime.date(1989, 4, 8)),
 (10064,
  datetime.date(1959, 4, 7),
  'Udi',
  'Jansch',
  'M',
  datetime.date(1985, 11, 20)),
 (10065,
  datetime.date(1963, 4, 14),
  'Satosi',
  'Awdeh',
  'M',
  datetime.date(1988, 5, 18)),
 (10066,
  datetime.date(1952, 11, 13),
  'Kwee',
  'Schusler',
  'M',
  datetime.date(1986, 2, 26)),
 (10067,
  datetime.date(1953, 1, 7),
  'Claudi',
  'Stavenow',
  'M',
  datetime.date(1987, 3, 4)),
 (10068,
  datetime.date(1962, 11, 26),
  'Charlene',
  'Brattka',
  'M',
  datetime.date(1987, 8, 7)),
 (10069,
  datetime.date(1960, 9, 6),
  'Margareta',
  'Bierman',
  'F',
  datetime.date(1989, 11, 5)),
 (10070,
  datetime.date(1955, 8, 20),
  'Reuven',
  'Garigliano',
  'M',
  datetime.date(1985, 10, 14)),
 (10071,
  datetime.date(1958, 1, 21),
  'Hisao',
  'Lipner',
  'M',
  datetime.date(1987, 10, 1)),
 (10072,
  datetime.date(1952, 5, 15),
  'Hironoby',
  'Sidou',
  'F',
  datetime.date(1988, 7, 21)),
 (10073,
  datetime.date(1954, 2, 23),
  'Shir',
  'McClurg',
  'M',
  datetime.date(1991, 12, 1)),
 (10074,
  datetime.date(1955, 8, 28),
  'Mokhtar',
  'Bernatsky',
  'F',
  datetime.date(1990, 8, 13)),
 (10075,
  datetime.date(1960, 3, 9),
  'Gao',
  'Dolinsky',
  'F',
  datetime.date(1987, 3, 19)),
 (10076,
  datetime.date(1952, 6, 13),
  'Erez',
  'Ritzmann',
  'F',
  datetime.date(1985, 7, 9)),
 (10077,
  datetime.date(1964, 4, 18),
  'Mona',
  'Azuma',
  'M',
  datetime.date(1990, 3, 2)),
 (10078,
  datetime.date(1959, 12, 25),
  'Danel',
  'Mondadori',
  'F',
  datetime.date(1987, 5, 26)),
 (10079,
  datetime.date(1961, 10, 5),
  'Kshitij',
  'Gils',
  'F',
  datetime.date(1986, 3, 27)),
 (10080,
  datetime.date(1957, 12, 3),
  'Premal',
  'Baek',
  'M',
  datetime.date(1985, 11, 19)),
 (10081,
  datetime.date(1960, 12, 17),
  'Zhongwei',
  'Rosen',
  'M',
  datetime.date(1986, 10, 30)),
 (10082,
  datetime.date(1963, 9, 9),
  'Parviz',
  'Lortz',
  'M',
  datetime.date(1990, 1, 3)),
 (10083,
  datetime.date(1959, 7, 23),
  'Vishv',
  'Zockler',
  'M',
  datetime.date(1987, 3, 31)),
 (10084,
  datetime.date(1960, 5, 25),
  'Tuval',
  'Kalloufi',
  'M',
  datetime.date(1995, 12, 15)),
 (10085,
  datetime.date(1962, 11, 7),
  'Kenroku',
  'Malabarba',
  'M',
  datetime.date(1994, 4, 9)),
 (10086,
  datetime.date(1962, 11, 19),
  'Somnath',
  'Foote',
  'M',
  datetime.date(1990, 2, 16)),
 (10087,
  datetime.date(1959, 7, 23),
  'Xinglin',
  'Eugenio',
  'F',
  datetime.date(1986, 9, 8)),
 (10088,
  datetime.date(1954, 2, 25),
  'Jungsoon',
  'Syrzycki',
  'F',
  datetime.date(1988, 9, 2)),
 (10089,
  datetime.date(1963, 3, 21),
  'Sudharsan',
  'Flasterstein',
  'F',
  datetime.date(1986, 8, 12)),
 (10090,
  datetime.date(1961, 5, 30),
  'Kendra',
  'Hofting',
  'M',
  datetime.date(1986, 3, 14)),
 (10091,
  datetime.date(1955, 10, 4),
  'Amabile',
  'Gomatam',
  'M',
  datetime.date(1992, 11, 18)),
 (10092,
  datetime.date(1964, 10, 18),
  'Valdiodio',
  'Niizuma',
  'F',
  datetime.date(1989, 9, 22)),
 (10093,
  datetime.date(1964, 6, 11),
  'Sailaja',
  'Desikan',
  'M',
  datetime.date(1996, 11, 5)),
 (10094,
  datetime.date(1957, 5, 25),
  'Arumugam',
  'Ossenbruggen',
  'F',
  datetime.date(1987, 4, 18)),
 (10095,
  datetime.date(1965, 1, 3),
  'Hilari',
  'Morton',
  'M',
  datetime.date(1986, 7, 15)),
 (10096,
  datetime.date(1954, 9, 16),
  'Jayson',
  'Mandell',
  'M',
  datetime.date(1990, 1, 14)),
 (10097,
  datetime.date(1952, 2, 27),
  'Remzi',
  'Waschkowski',
  'M',
  datetime.date(1990, 9, 15)),
 (10098,
  datetime.date(1961, 9, 23),
  'Sreekrishna',
  'Servieres',
  'F',
  datetime.date(1985, 5, 13)),
 (10099,
  datetime.date(1956, 5, 25),
  'Valter',
  'Sullins',
  'F',
  datetime.date(1988, 10, 18)),
 (10100,
  datetime.date(1953, 4, 21),
  'Hironobu',
  'Haraldson',
  'F',
  datetime.date(1987, 9, 21)),
 (10101,
  datetime.date(1952, 4, 15),
  'Perla',
  'Heyers',
  'F',
  datetime.date(1992, 12, 28)),
 (10102,
  datetime.date(1959, 11, 4),
  'Paraskevi',
  'Luby',
  'F',
  datetime.date(1994, 1, 26)),
 (10103,
  datetime.date(1953, 11, 26),
  'Akemi',
  'Birch',
  'M',
  datetime.date(1986, 12, 2)),
 (10104,
  datetime.date(1961, 11, 19),
  'Xinyu',
  'Warwick',
  'M',
  datetime.date(1987, 4, 16)),
 (10105,
  datetime.date(1962, 2, 5),
  'Hironoby',
  'Piveteau',
  'M',
  datetime.date(1999, 3, 23)),
 (10106,
  datetime.date(1952, 8, 29),
  'Eben',
  'Aingworth',
  'M',
  datetime.date(1990, 12, 19)),
 (10107,
  datetime.date(1956, 6, 13),
  'Dung',
  'Baca',
  'F',
  datetime.date(1994, 3, 22)),
 (10108,
  datetime.date(1952, 4, 7),
  'Lunjin',
  'Giveon',
  'M',
  datetime.date(1986, 10, 2)),
 (10109,
  datetime.date(1958, 11, 25),
  'Mariusz',
  'Prampolini',
  'F',
  datetime.date(1993, 6, 16)),
 (10110,
  datetime.date(1957, 3, 7),
  'Xuejia',
  'Ullian',
  'F',
  datetime.date(1986, 8, 22)),
 (10111,
  datetime.date(1963, 8, 29),
  'Hugo',
  'Rosis',
  'F',
  datetime.date(1988, 6, 19)),
 (10112,
  datetime.date(1963, 8, 13),
  'Yuichiro',
  'Swick',
  'F',
  datetime.date(1985, 10, 8)),
 (10113,
  datetime.date(1963, 11, 13),
  'Jaewon',
  'Syrzycki',
  'M',
  datetime.date(1989, 12, 24)),
 (10114,
  datetime.date(1957, 2, 16),
  'Munir',
  'Demeyer',
  'F',
  datetime.date(1992, 7, 17)),
 (10115,
  datetime.date(1964, 12, 25),
  'Chikara',
  'Rissland',
  'M',
  datetime.date(1986, 1, 23)),
 (10116,
  datetime.date(1955, 8, 26),
  'Dayanand',
  'Czap',
  'F',
  datetime.date(1985, 5, 28)),
 (10117,
  datetime.date(1961, 10, 24),
  'Kiyotoshi',
  'Blokdijk',
  'F',
  datetime.date(1990, 5, 28)),
 (10118,
  datetime.date(1957, 3, 29),
  'Zhonghui',
  'Zyda',
  'F',
  datetime.date(1990, 9, 13)),
 (10119,
  datetime.date(1960, 12, 1),
  'Domenick',
  'Peltason',
  'M',
  datetime.date(1986, 3, 14)),
 (10120,
  datetime.date(1960, 3, 26),
  'Armond',
  'Fairtlough',
  'F',
  datetime.date(1996, 7, 6)),
 (10121,
  datetime.date(1962, 7, 14),
  'Guoxiang',
  'Ramsay',
  'M',
  datetime.date(1989, 5, 3)),
 (10122,
  datetime.date(1965, 1, 19),
  'Ohad',
  'Esposito',
  'M',
  datetime.date(1992, 12, 23)),
 (10123,
  datetime.date(1962, 5, 12),
  'Hinrich',
  'Randi',
  'M',
  datetime.date(1993, 1, 15)),
 (10124,
  datetime.date(1962, 5, 23),
  'Geraldo',
  'Marwedel',
  'M',
  datetime.date(1991, 9, 5)),
 (10125,
  datetime.date(1957, 9, 13),
  'Syozo',
  'Hiltgen',
  'F',
  datetime.date(1990, 10, 26)),
 (10126,
  datetime.date(1954, 8, 7),
  'Kayoko',
  'Valtorta',
  'M',
  datetime.date(1985, 9, 8)),
 (10127,
  datetime.date(1952, 2, 24),
  'Subir',
  'Baja',
  'F',
  datetime.date(1989, 1, 14)),
 (10128,
  datetime.date(1958, 2, 15),
  'Babette',
  'Lamba',
  'F',
  datetime.date(1988, 6, 6)),
 (10129,
  datetime.date(1955, 12, 2),
  'Armond',
  'Peir',
  'M',
  datetime.date(1985, 12, 10)),
 (10130,
  datetime.date(1955, 4, 27),
  'Nishit',
  'Casperson',
  'M',
  datetime.date(1988, 6, 21)),
 (10131,
  datetime.date(1952, 2, 19),
  'Magdalena',
  'Eldridge',
  'M',
  datetime.date(1994, 11, 17)),
 (10132,
  datetime.date(1956, 12, 15),
  'Ayakannu',
  'Skrikant',
  'M',
  datetime.date(1994, 10, 30)),
 (10133,
  datetime.date(1963, 12, 12),
  'Giri',
  'Isaak',
  'M',
  datetime.date(1985, 12, 15)),
 (10134,
  datetime.date(1953, 4, 15),
  'Diederik',
  'Siprelle',
  'M',
  datetime.date(1987, 12, 12)),
 (10135,
  datetime.date(1956, 12, 23),
  'Nathan',
  'Monkewich',
  'M',
  datetime.date(1988, 2, 19)),
 (10136,
  datetime.date(1961, 9, 14),
  'Zissis',
  'Pintelas',
  'M',
  datetime.date(1986, 2, 11)),
 (10137,
  datetime.date(1959, 7, 30),
  'Maren',
  'Hutton',
  'M',
  datetime.date(1985, 2, 18)),
 (10138,
  datetime.date(1955, 4, 24),
  'Perry',
  'Shimshoni',
  'M',
  datetime.date(1986, 9, 18)),
 (10139,
  datetime.date(1963, 3, 3),
  'Ewing',
  'Foong',
  'F',
  datetime.date(1998, 3, 15)),
 (10140,
  datetime.date(1957, 3, 11),
  'Yucel',
  'Auria',
  'F',
  datetime.date(1991, 3, 14)),
 (10141,
  datetime.date(1960, 1, 17),
  'Shahaf',
  'Ishibashi',
  'F',
  datetime.date(1993, 5, 6)),
 (10142,
  datetime.date(1956, 8, 29),
  'Tzvetan',
  'Hettesheimer',
  'M',
  datetime.date(1993, 10, 28)),
 (10143,
  datetime.date(1961, 7, 16),
  'Sakthirel',
  'Bakhtari',
  'M',
  datetime.date(1988, 9, 30)),
 (10144,
  datetime.date(1959, 6, 17),
  'Marla',
  'Brendel',
  'M',
  datetime.date(1985, 10, 14)),
 (10145,
  datetime.date(1956, 3, 30),
  'Akemi',
  'Esposito',
  'F',
  datetime.date(1987, 8, 1)),
 (10146,
  datetime.date(1959, 1, 12),
  'Chenyi',
  'Syang',
  'M',
  datetime.date(1988, 6, 28)),
 (10147,
  datetime.date(1964, 10, 13),
  'Kazuhito',
  'Encarnacion',
  'M',
  datetime.date(1986, 8, 21)),
 (10148,
  datetime.date(1957, 10, 4),
  'Douadi',
  'Azumi',
  'M',
  datetime.date(1995, 10, 10)),
 (10149,
  datetime.date(1953, 5, 20),
  'Xiadong',
  'Perry',
  'F',
  datetime.date(1986, 11, 5)),
 (10150,
  datetime.date(1955, 1, 29),
  'Zhenbing',
  'Perng',
  'F',
  datetime.date(1986, 11, 16)),
 (10151,
  datetime.date(1959, 3, 6),
  'Itzchak',
  'Lichtner',
  'M',
  datetime.date(1990, 4, 10)),
 (10152,
  datetime.date(1954, 12, 1),
  'Jaques',
  'Munro',
  'F',
  datetime.date(1986, 1, 27)),
 (10153,
  datetime.date(1955, 12, 15),
  'Heekeun',
  'Majewski',
  'M',
  datetime.date(1987, 4, 8)),
 (10154,
  datetime.date(1957, 1, 17),
  'Abdulah',
  'Thibadeau',
  'F',
  datetime.date(1990, 12, 12)),
 (10155,
  datetime.date(1959, 12, 7),
  'Adas',
  'Nastansky',
  'M',
  datetime.date(1990, 1, 5)),
 (10156,
  datetime.date(1964, 9, 19),
  'Sumali',
  'Fargier',
  'M',
  datetime.date(1985, 3, 10)),
 (10157,
  datetime.date(1954, 4, 23),
  'Nigel',
  'Aloisi',
  'M',
  datetime.date(1985, 11, 2)),
 (10158,
  datetime.date(1958, 4, 1),
  'Khedija',
  'Mitsuhashi',
  'M',
  datetime.date(1986, 1, 29)),
 (10159,
  datetime.date(1955, 3, 3),
  'Serif',
  'Buescher',
  'M',
  datetime.date(1991, 5, 29)),
 (10160,
  datetime.date(1953, 10, 18),
  'Debatosh',
  'Khasidashvili',
  'M',
  datetime.date(1989, 1, 30)),
 (10161,
  datetime.date(1953, 4, 6),
  'Hairong',
  'Mellouli',
  'F',
  datetime.date(1988, 4, 3)),
 (10162,
  datetime.date(1957, 10, 5),
  'Florina',
  'Eugenio',
  'M',
  datetime.date(1991, 5, 1)),
 (10163,
  datetime.date(1952, 9, 17),
  'Karsten',
  'Szmurlo',
  'M',
  datetime.date(1989, 7, 19)),
 (10164,
  datetime.date(1956, 1, 19),
  'Jagoda',
  'Braunmuhl',
  'M',
  datetime.date(1985, 11, 12)),
 (10165,
  datetime.date(1960, 6, 16),
  'Miyeon',
  'Macedo',
  'M',
  datetime.date(1988, 5, 17)),
 (10166,
  datetime.date(1953, 5, 10),
  'Samphel',
  'Siegrist',
  'F',
  datetime.date(1993, 1, 1)),
 (10167,
  datetime.date(1958, 5, 23),
  'Duangkaew',
  'Rassart',
  'M',
  datetime.date(1992, 4, 4)),
 (10168,
  datetime.date(1964, 9, 11),
  'Dharmaraja',
  'Stassinopoulos',
  'M',
  datetime.date(1986, 12, 6)),
 (10169,
  datetime.date(1961, 5, 3),
  'Sampalli',
  'Snedden',
  'F',
  datetime.date(1992, 7, 24)),
 (10170,
  datetime.date(1960, 10, 3),
  'Kasturi',
  'Jenevein',
  'F',
  datetime.date(1986, 1, 2)),
 (10171,
  datetime.date(1957, 9, 11),
  'Herbert',
  'Trachtenberg',
  'M',
  datetime.date(1989, 7, 22)),
 (10172,
  datetime.date(1957, 3, 25),
  'Shigeu',
  'Matzen',
  'F',
  datetime.date(1995, 10, 13)),
 (10173,
  datetime.date(1962, 10, 28),
  'Shrikanth',
  'Mahmud',
  'M',
  datetime.date(1992, 3, 21)),
 (10174,
  datetime.date(1959, 5, 15),
  'Badri',
  'Furudate',
  'M',
  datetime.date(1987, 6, 1)),
 (10175,
  datetime.date(1960, 1, 11),
  'Aleksandar',
  'Ananiadou',
  'F',
  datetime.date(1988, 1, 11)),
 (10176,
  datetime.date(1957, 1, 24),
  'Brendon',
  'Lenart',
  'F',
  datetime.date(1994, 12, 22)),
 (10177,
  datetime.date(1954, 11, 8),
  'Pragnesh',
  'Iisaka',
  'M',
  datetime.date(1993, 2, 6)),
 (10178,
  datetime.date(1963, 3, 13),
  'Valery',
  'Litvinov',
  'M',
  datetime.date(1986, 10, 7)),
 (10179,
  datetime.date(1961, 11, 25),
  'Deniz',
  'Duclos',
  'F',
  datetime.date(1990, 10, 4)),
 (10180,
  datetime.date(1956, 1, 29),
  'Shaw',
  'Wendorf',
  'M',
  datetime.date(1986, 2, 25)),
 (10181,
  datetime.date(1963, 1, 22),
  'Sibyl',
  'Nooteboom',
  'M',
  datetime.date(1988, 6, 22)),
 (10182,
  datetime.date(1961, 2, 4),
  'Moriyoshi',
  'Merey',
  'F',
  datetime.date(1990, 9, 2)),
 (10183,
  datetime.date(1954, 10, 17),
  'Mechthild',
  'Bonifati',
  'M',
  datetime.date(1996, 8, 11)),
 (10184,
  datetime.date(1957, 5, 22),
  'Mihalis',
  'Lowrie',
  'M',
  datetime.date(1987, 10, 29)),
 (10185,
  datetime.date(1959, 12, 5),
  'Duro',
  'Sidhu',
  'F',
  datetime.date(1986, 3, 1)),
 (10186,
  datetime.date(1953, 7, 16),
  'Shigehito',
  'Kropatsch',
  'M',
  datetime.date(1986, 3, 28)),
 (10187,
  datetime.date(1961, 5, 26),
  'Tommaso',
  'Narwekar',
  'F',
  datetime.date(1991, 6, 1)),
 (10188,
  datetime.date(1956, 7, 13),
  'Christ',
  'Muchinsky',
  'F',
  datetime.date(1987, 8, 27)),
 (10189,
  datetime.date(1955, 11, 12),
  'Khalid',
  'Erva',
  'M',
  datetime.date(1989, 10, 5)),
 (10190,
  datetime.date(1964, 12, 11),
  'Arve',
  'Fairtlough',
  'F',
  datetime.date(1986, 6, 23)),
 (10191,
  datetime.date(1959, 4, 8),
  'Zdislav',
  'Nastansky',
  'M',
  datetime.date(1986, 4, 10)),
 (10192,
  datetime.date(1960, 9, 16),
  'Mohua',
  'Falck',
  'M',
  datetime.date(1988, 6, 13)),
 (10193,
  datetime.date(1960, 6, 29),
  'Masaru',
  'Cheshire',
  'M',
  datetime.date(1991, 7, 28)),
 (10194,
  datetime.date(1954, 1, 29),
  'Josyula',
  'Hofmeyr',
  'F',
  datetime.date(1989, 5, 15)),
 (10195,
  datetime.date(1963, 11, 13),
  'Annemarie',
  'Redmiles',
  'M',

In [16]:
import pandas as pd
dep = pd.DataFrame(all_rows)

In [17]:
dep

             0           1          2         3  4           5
0        10001  1953-09-02     Georgi   Facello  M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel  F  1985-11-21
2        10003  1959-12-03      Parto   Bamford  M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick  M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak  M  1989-09-12
...        ...         ...        ...       ... ..         ...
300019  499995  1958-09-24     Dekang  Lichtner  F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz  M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart  M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel  M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda  M  1997-11-30

[300024 rows x 6 columns]

Warning: total number of rows (300024) exceeds max_rows (20000). Limiting to first (20000) rows.

In [22]:
dep.columns = ['index', '0', 'col3', 'col4', 'col5', 'col6']

In [23]:
dep

         index           0       col3      col4 col5        col6
0        10001  1953-09-02     Georgi   Facello    M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel    F  1985-11-21
2        10003  1959-12-03      Parto   Bamford    M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick    M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak    M  1989-09-12
...        ...         ...        ...       ...  ...         ...
300019  499995  1958-09-24     Dekang  Lichtner    F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz    M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart    M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel    M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda    M  1997-11-30

[300024 rows x 6 columns]